<h1 style='margin-top:100px;font-size:2rem'>Our official restaurant directory</h1>

<% @restaurants.each do |restaurant| %>
  <h1 style='font-size:1.5rem;margin-top:50px'>Restaurant Name:
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </h1>
  <p>Address: <%= restaurant.address %></p>
<% end %>
